<div class="panel panel-success">
    <div class="panel-heading">
        <p class="panel-title"><%= description %></p>
    </div>
    <div class="panel-body">  
        <% include ratings.ejs %>
        <form action="/results?id=<%= id %>" method="post" id="ratings-form">
            <div class="form-group">
                <label class="radio-inline"><input type="radio" name="rating" value="1" required>1</label>
                <label class="radio-inline"><input type="radio" name="rating" value="2" required>2</label>
                <label class="radio-inline"><input type="radio" name="rating" value="3" required>3</label>
                <label class="radio-inline"><input type="radio" name="rating" value="4" required>4</label>
                <label class="radio-inline"><input type="radio" name="rating" value="5" required>5</label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" id="ratings-form-submit" disabled />
            </div>
        </form>
    </div>
</div>